html
    head
        title 상품정보 화면
        style
            include temp.css
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable = yes")
    body
        
        container 

            article
                img#RepresentPhoto(src= `http://localhost:3000/api/product/imgs/${obj.image[0]}`)

            content
                div.contentSection
                    div#list
                        span#itemname 
                            strong= obj.name  
                    div#list
                        div#itemprice 가격  
                        span#iteminfo
                            span#price= obj.price
                            span#priceunit 원
                    span#priceinfo 로그인 후, 회원할인가와 적립혜택이 제공됩니다.
                hr
                div.contentSection    
                    div#list
                        span#tit 배송구분
                        span#desc= obj.reserveMethod
                    div#list
                        span#tit 판매자
                        span#desc= obj.seller.Name
                    each val in obj.information
                        div#list
                            span#tit= val.info
                            span#desc= val.description
                hr
                
                div.contentSection        
                    each i in option
                        div#optionName= i[0].name
                        select
                            each variable in i
                                option= '상세 옵션 : ' + variable.detail + '                   추가가격: ' + variable.price + '원     (재고 : ' + variable.stock + '개)'
                                //- option(value= variable.detail + ' ' + variable.price + '원 (재고 : ' + variable.stock + '개)' ) 
                        

                    div#list           
                        span#tit 구매수량  
                        span#desc
                            button(id = "minus") -
                            input(id="quantitiyInput", type="text" value = 1) 
                            button(id = "plus") +
                    div#list   
                        div#btncontent
                            span
                                button#buybtn 구매하기
                                button#basketbtn 장바구니
                                
        main#main 
            div#mainContent
                each i in obj.image
                    div
                        img#detailPhoto(src= `http://localhost:3000/api/product/imgs/${i}`)
                        div 상품사진
                
        script
            include temp.js
